div{
  height: 150px;
  width: 100%;
  background-color: black;
  text-align: center;
  font-family: fantasy;
  font-style: italic;
  font-size: 50px;
  font-weight: bold;
  color: red;
}

button{
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: yellow;
  border-color: yellow;
}

body{
  width: 100%;
}
